rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, update, delete: if isOwner(userId);
      allow create: if request.auth.uid == userId;
    }

    match /users/{userId}/{collection}/{docId} {
      allow get, list: if isOwner(userId);
      allow create, update: if isOwner(userId) && request.resource.data.userId == userId;
      allow delete: if isOwner(userId);
    }
  }
}
